*{
    margin: 0px;
    padding: 0px;
    color:black;

}
a{
    text-decoration: none;
}
.content{
    height:12rem;
    width: 100%;
    background-color: #EEEEEE;
    border-bottom: 1px rgb(162, 157, 157) solid;
    
}
.logo{
    height:9rem;
    width:15%;
    position: absolute;
    top:2rem;
    left:5rem;
    border-radius: 5%;
}
.logo_img{
    height:8rem;
    width:100%;
}
.menu{
    height:9rem;
    width:55%;
    float:right;
    border-left: 1px solid gray;
}
ul li{
    list-style-type: none;
    font-size: 25px;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9rem;
}
.menu ul li:hover{
    border-bottom: 5px solid gray;
    border-radius:5%;
}
.mode{
    height: 6rem; 
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
.mode button{
    height:4rem;
    width:10rem;

}
.scorecard{
    height:10rem;
    display: flex;
    justify-content: space-evenly;
}
.Total_win,.Total_loss{
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-wrap:wrap;
    
}
.Total_rounds{
    font-size: 44px;
    text-wrap:wrap;
    
}
.playarea{
    height:16rem;
}
.computer{
    height:4rem;
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.selection{
    height: 16rem;
    display: flex;
    justify-content: space-evenly;
    padding:1rem;
}
.rock{
    height:10rem;
    width:10rem;
    border-radius: 50%;
    background-color: rgba(225, 140, 140, 0.888);
    cursor:pointer;
}
.rock_img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.paper{
    height:10rem;
    width:10rem;
    border-radius: 50%;
    background-color: rgba(134, 241, 241, 0.957);
    cursor:pointer;
}
.paper_img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.scissor{
    height:10rem;
    width:10rem;
    border-radius: 50%;
    background-color: rgba(202, 242, 142, 0.943);
    cursor:pointer;
}
.scissor_img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.footer{
    height:16rem;
    background-color: #a7a1a1;
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
}
.icon{
    height: 9rem;
    width: 10rem;
    background-image: url("https://imgs.search.brave.com/1q1cyisH-nWrlLhTSX9X9crSn0IKS1EuVN-7Fz2oxJ0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA4LzA0LzcwLzY0/LzM2MF9GXzgwNDcw/NjQzNV9YN3k5MW1B/N2JqUXhlZXZlTmo4/QlM3TlkyOWlyRU02/SC5qcGc");
    background-size:contain;
}
.nav{

    border-left: 1px solid gray;
}
.nav li{
    padding:1px;
    margin-top: 15%;
}
.cont{
    font-size: 20px;
    
}
